 .login-form {
    max-width: 300px;
     padding:100px 0px 277px 0px;
     margin: 0 auto 0 auto;
}
 .login-form-forgot {
    float: left;
}
 .login-form-button {
    width: 50%;
}
.bc
{
    background:url(pic/login.jpg) no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;

}